body{
    background-color: beige;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.btn{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #FFE0B3;
    border-radius: 8px;
    margin-top: 20px;
}
.btn:hover{
    background-color: orange;
}
.question-ans-section{
    margin: 100px;
}
@media screen and (max-width:600px){
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}